<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/home.css">
<div class="container-fluid">
  <div class="container mt-3">
    <div class="row">
      <div class="col-lg-6 px-1 ">
          <div class="card">
            <img src="http://pic.9ht.com/up/2017-10/20171011103433542640.jpg" class="card-img-top" alt="...">
            <div class="card-body px-2 py-1">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>

      <div class="col-lg-6 px-1">
        <div class="card hottest ml-0">
          <div class="card-header py-1">
            最热帖子
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item py-2"><a href="">帖子一</a></li>
            <li class="list-group-item py-2"><a href="">帖子二</a></li>
            <li class="list-group-item py-2"><a href="">帖子三</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<% include partials/footer %>